.home {
    background-image: url('college.jpeg'); /* Add your image path here */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #fff;
    text-align: center;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 3rem;
}

.home-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.get-started-button {
    padding: 12px 24px;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
}

.get-started-button:hover {
    background-color: #45a049;
}

